API_ID=10606358
API_HASH=02f8e50d2fe55ce3dad6371c176f78e0
BOT_TOKEN=8729098769:AAGCtAcjZu-CZ6U9f4Z1i9MbBEhNgV_fjOI

RUBIKA_SESSION=rubika_main
RUBIKA_STORAGE_CHANNEL_GUID=c0D9R6o0eda814cf4e506c4392ab74db
RUBIKA_ACCOUNT_USERNAME=nnuuulll

MONGO_URL=mongodb://localhost:27017
DB_NAME=tele2rub_pro

ADMIN_IDS=1439747072